body{
      background-image: url("https://raw.githubusercontent.com/isaacamaasuamae/SiteDaSoraya/main/fundo.jpg");
      text-align: center;
    }
    .imagem{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 250px;
    }
    #agradecimento {
      color: gray;
      -webkit-text-stroke-width: 2.5px;
      -webkit-text-stroke-color: magenta;
    }
    #paragrafo {
      -webkit-text-stroke-width: 1.25px;
      -webkit-text-stroke-color: pink;
      font-family: Comic Sans MS;
      color: lightblue;
      font-size: 40px;
    }
    #botao {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100px;
      height: 50px;
      border-color: pink;
      color: pink;
      background-color: magenta;
      border-radius: 50px;
    }
    #texto {
      color: gray;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: cyan;
      font-size: 50px;
    }
